.profile{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin: 0 auto 30px;
        width: 257px;
        height: 300px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        border-radius: 5px;
        background-color: rgb(236, 233, 233);
        border: 1px solid rgb(197, 195, 195);
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 120px;


}

.text {
    font-size: 14px;
    font-style: italic;
    color: #c47878
}

.text:nth-child(2) {
    font-style: normal;
    font-size: 22px;
    font-weight: 600;
    color: hsla(0, 0%, 0%, .7);
}

.text:not(:last-child) {
    margin-bottom: 10px;
}

.list {
   display: flex;
   list-style-type: none;
   padding-bottom: 1px;
   width: 253px
}

.item {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 85px;
   height: 50px;
   

   border-radius: 5px;
}

.item:not(:last-child) {
   border-right: 1px solid rgb(197, 195, 195);
}


.label {
    font-size: 12px;
    margin-bottom: 8px;
}

.quantity {
    font-size: 12px;
    font-weight: 600;
}