.table {
    width: 750px;
    margin: 0 auto 30px;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.head,
.data {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.head {

    font-size: 16px;
    font-weight: 500;
    color: hsla(0, 0%, 0%, .7);
    background-color: rgb(197, 192, 192);
}

.tbody:nth-child(odd) {
    background-color: rgba(236, 233, 233, .5);

}

.data {
    font-style: italic;
    font-size: 14px;
    text-transform: capitalize;
    color: hsla(0, 0%, 0%, .5);
}